#outer-square {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 100%x;
}

#outer-square div {
    border: 2px solid black;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}